$fuente-principal: "Montserrat", sans-serif;
$fuente-secundaria: "Roboto", sans-serif;

$background: #111827;
$background-light: #1f2937;

//paleta de colores
$dark1: #060606;
$dark2: #1b1c1d;
$dark3: #2e3035;
$dark4: #494953;
$dark5: #817d90;

$gris: #e1e1e1;
$grisOscuro: #333333;

$purple1: #070721;
$purple2: #292b57;
$purple3: #59509a;
$purple4: #997ae8;
$purple5: #eba9ff;

$celeste: #0c87c0;
$rosa: #ff96f2;
$piel: #ffcfb4;
$amarillo: #eee041;
$blanco: #ffffff;

//pantallas
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;
